
@font-face {
  font-family: 'Cunia Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Cunia Bold'), url('../fonts/Cunia.woff') format('woff');
}

* {
  color:#FFBCC7;
}

.cunia {
  font-family: 'Cunia Bold';
}

@media only screen and (min-width: 255px) {
  .main {
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-rows: 220px auto;
    background-image:url(../img/contracting/header.jpg);
    background-repeat: no-repeat;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    min-height: 130px;     
  }
  * {
    font-size: 10pt;
  }
}

@media only screen and (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-rows: 200px auto;
    background-image:url(../img/contracting/header.jpg);
    background-repeat: no-repeat;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    min-height: 330px;     
  }
}

@media only screen and (min-width: 568px) {
  .main {
    grid-template-rows: 220px auto;
    background-image:url(../img/contracting/header.jpg);
    min-height: 420px;     
  }
  * {
    font-size: 11pt;
  }
}

@media only screen and (min-width: 688px) {
  .main {
    grid-template-rows: 290px auto;
    background-image:url(../img/contracting/header.jpg);
    min-height: 520px;
  }
}

@media only screen and (min-width: 870px) {
  .main {
    grid-template-rows: 360px auto;
    background-image:url(../img/contracting/header.jpg);
    min-height: 630px;
  }
  * {
    font-size: 14pt;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    grid-template-rows: 310px auto;
    background-image:url(../img/contracting/header_large.png);
    min-height: 500px;
    background-size:contain;
    background-position: top center;
    padding-right:15%;
    padding-left:15%;
  }
  * {
    font-size: 16pt;
  }
}

.intouch {
  grid-area: 2/2;
}

.divider {
  background-image: url(../img/contracting/section_slice.svg);
  background-repeat: no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 220px;
}

.footer {
  background-color: #de3891;
  padding-bottom:6%;
}

.btn {
  background: rgb(255,109,180);
  background: -moz-linear-gradient(90deg, rgba(255,109,180,1) 0%, rgba(241,184,172,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,109,180,1) 0%, rgba(241,184,172,1) 100%);
  background: linear-gradient(90deg, rgba(255,109,180,1) 0%, rgba(241,184,172,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6db4",endColorstr="#f1b8ac",GradientType=1);
  padding: 15px;
  font-size: 12pt;
  border: 0;
  margin-top: 20px;
}

.btn:hover {
  background: rgb(255,109,180);
  background: -moz-linear-gradient(90deg, rgb(250, 130, 196,1) 0%, rgb(245, 201, 192,1)00%);
  background: -webkit-linear-gradient(90deg, rgba(250, 130, 196,1) 0%, rgba(245, 201, 192,1) 100%);
  background: linear-gradient(90deg, rgba(250, 130, 196,1) 0%, rgba(245, 201, 192,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6db4",endColorstr="#f1b8ac",GradientType=1);
  
}

.hvr-glow {
  vertical-align:middle;
  -webkit-transform:perspective(5px) translateZ(0);
  transform:perspective(5px) translateZ(0);
  text-shadow: 0px 0px rgb(255, 188, 199, .5);
  -webkit-transition-duration:2s;
  transition-duration:2s;
  -webkit-transition-property:text-shadow;
  transition-property:text-shadow;
 }
 .hvr-glow:active,
 .hvr-glow:focus,
 .hvr-glow:hover {
  text-shadow: 0px 0px 16px rgb(255, 188, 199, .5);
  -webkit-transition-duration:.5s;
  transition-duration:.5s;
 }

.floating:hover {
  -webkit-transform: rotateY(15deg); /* Safari prior 9.0 */
  transform: rotateY(15deg) skewY(2deg); /* Standard syntax */
  transition-duration: 2s;
}

.floating {
  -webkit-transform: rotateY(0deg); /* Safari prior 9.0 */
  transform: rotateY(0deg) skewY(0deg); /* Standard syntax */
  transition-duration: 2s;
}

.img-thumbnail {
  border: 0 none;
  box-shadow: none;  
}

.site-empty {
  background-color: #F9E0F1;  
}

.fade-in {
  -webkit-animation:fade-in 2s ease-in 0s 1 normal both;
  animation:fade-in 2s ease-in 0s 1 normal both; 
}

@-webkit-keyframes fade-in {
  0% {
   opacity:0
  }
  100% {
   opacity:1
  }
 }
 @keyframes fade-in {
  0% {
   opacity:0
  }
  100% {
   opacity:1
  }
 }

 .animated.delay-1s {
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}